  <header>
    <div class="entete">
      <div class="intro-text">
        <div class="intro-lead-in"></div>
        <div class="intro-heading">Data Scientist</div>
      </div>
      <div class="intro-icone">
        <a href="#skills" class="page-scroll">
          <span class="fa-stack fa-4x wow bounceIn" data-wow-delay=".3s">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-arrow-down fa-stack-1x fa-inverse faa-flash animated-hover"></i>
          </span>
        </a>
      </div>
    </div>
</header>
